body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1em;
	
	padding-top: 180px; /* Relleno superior igual a la altura de la cabecera*/
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}


p {
	margin: 0 0 1.5em 0;
}


img {
	max-width: 100%;
	height: auto;
}


/*Estas líneas de CSS las usaremos para dar estilo a la cabecera:*/

#main-header {
	background: rgb(155, 52, 52);
	color: red;
	height: 110px;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}	
	#main-header a {
		color: white;
	}

	#main-header.logo-nav-container{
		display: flex;		
		justify-content: space-between;
			
	}	
	/*	
 * Logo
 */
#logo-header {
	float: left;
	padding: 40px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #d3551a;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: white;
	}
	
	
/*
 * Navegación
 */
 .navegacion{
	margin: 50px auto;
	background:rgba(155, 52, 52, 0);
	float: right;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	/*position: relative;*/
	display: inline-block;
	
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	transition: all 0.4s linear;
	border-radius: 5px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
	
}

.menu li a:hover{
	background: #971d1d;
	color: #CE7D35;
	transition: all .3s;
}

.submenu{
	position: absolute;
	background: #333333;
	width: 15%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
	border-radius: 8px;
	
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
	
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
		
}
.submenu2{
	position: absolute;
	background: #555555;
	width: 120%;
	left: 200px;
	top: 0px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
	border-radius: 8px;
}

.submenu2 li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li ul li:hover .submenu2{
	visibility: visible;
	opacity: 1;
	
}

/*Con estos estilos aplicaremos diseño al contenido:*/

#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

	#main-content header,
	#main-content .content {
		
		padding: 40px;
	}
/*Y por último, con esto estilizaremos el pie de página:*/

	#main-footer {
		background: #333;
		color: white;
		text-align: center;
		padding: 20px;
		margin-top: 40px;
	}
		#main-footer p {
			margin: 0;
		}
		
		#main-footer a {
			color: white;
		}
.logo{
	display: inline-block;
}

